{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="todoform">
		<form method="POST" action="/">
			<div class="row">
				{% csrf_token %}
			 <div class="input-field col s4 offset-s4 ">
          <!--		<input id="add_todo" type="text" class="validate">
          		<label for="{{form.title}}">Add new to-do</label> -->
          		{{form.title}}
        	</div>
  			<button class="btn waves-effect waves-light col s1  pink darken-1" type="submit" name="savebtn">Add
    			<i class="material-icons right ">send</i>
  			</button>
			</div>

			{% for task in tasks %}
	<!-- customisation of tasks -->
			<div class="row">
		 	<div style="padding: 1rem" class = "offset-s4 col s4 z-depth-2  white lighten-1 hoverable" >{% if task.complete %}
			<strike>✔{{task}}</strike>
			{% else %}
			<span>{{task}}</span>
			{% endif %}</div>
		 	<div class="col s1"><a class="btn-floating btn-medium waves-effect waves-light pink lighten-1 hoverable" href="{% url 'update' task.id %}" ><i class="material-icons">edit</i></a></div>
		 	<div class="col s1"><a class="btn-floating btn-medium waves-effect waves-light pink lighten-1 hoverable" href="{% url 'delete' task.id %}"><i class="material-icons">delete</i></a></div>
			<br>
			</div>
			{% endfor %}
		</form>
		<footer> Made with ❤️ by <a href="{% static 'https://www.instagram.com/iamcodegirl/' }">@iamcodegirl</a></footer>
	</div>
{% endblock %}



